/* .container {
    text-align: center;
    position: fixed;
}

.row{
    text-align: center;
}
.col-3 { */
    /* columns: 50px 3; */
    /* column-width: auto; */
    /* column-span: all; */
    /* column-gap: 40px; */
    /* margin-left: 0px; */
    /* width: 300px;
    border-right-style:solid;
    overflow: hidden; */
    

  /* } */

  /* #col-1 {
      background-color: chartreuse;
      column-width: 50px;
      
  } */